:root{
    --bool-black: #000;
    --bool-white: #fff;
    --bool-primary: #4ea0ff;
    --bool-secondary: #1fa9e5;
    --bool-secondary-light: #b1e4f2;
    --bool-light: #808080;

}

body {
    margin: 0;
}

/* #region Utility Classes */
.container {
    width: 85%;
    margin: auto;
}


/* #endregion Utility Classes */


/* #region Header */

#app_header {
    background-color: var(--bool-primary);
    background-image: url('../img/pattern.png');
    background-size: 300px;

}

.logo {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

/* #endregion Header */
